:root {
    --green: #266e26;
    --darkgreen: #115311;
    --darkergreen: #023502;
    --lightgreen: #3e873e;
    --lightergreen: #64a664;
    --blue: #1d5153;
    --darkblue: #0e3c3f;
    --darkerblue: #022628;
    --lightblue: #2f6366;

    --font-one: 'Stylish', sans-serif;
    --font-two: 'Roboto', sans-serif;


}